/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*global SASS file*/
/*Variables*/
/*CSS*/
body {
  height: 100%;
  margin: 0;
  padding: 0; }

header {
  background-color: #c1d851; }
  header h3 {
    display: inline-block;
    text-align: center;
    color: white; }
  header #logo {
    height: auto;
    width: auto; }

nav button {
  margin: 0 15px 10px 15px;
  background-color: #c1d851; }
  nav button a {
    color: white; }

section.centered {
  text-align: center;
  margin-right: auto;
  margin-left: auto; }
section .right-column, section .middle-column, section .left-column {
  display: inline-block;
  margin: 0 15px 0 15px;
  width: 300px; }

#home-header {
  width: 100%; }
  #home-header #logo {
    width: 40%;
    height: auto; }

/* FIND MEAT */
.checkbox {
  margin-right: 10px; }

.map-container {
  background: transparent url(../images/ajax-loader.gif) no-repeat;
  height: 300px;
  width: 70%; }
  .map-container #map-canvas {
    border: 2px solid #000;
    padding: 3px;
    height: inherit;
    width: inherit;
    display: block; }

#results .retailer-results-list-address {
  font-style: italic;
  font-size: 9.75px; }

/* DEMAND MEAT */
#demand-page {
  display: none; }

#retailer-name {
  width: 200px;
  line-height: 2em;
  font-size: 1.2em; }

#message-body {
  margin: 20px;
  border: 2px dotted black;
  padding: 10px;
  background-color: #d7f4fc;
  height: 100%; }

#message-text {
  height: auto; }

.certification {
  width: 100px;
  height: 100px; }

.brand {
  width: auto;
  height: auto; }
