/* DEMAND MEAT */

#zip-search-demand {
	padding: 10px;
}

#demand-page {
	display: none;
	padding: 10px;

	#results {
		display: inline-block;
		width: 50%;

		#retailer-results-list {

		}

		.retailer-results-list-address {
			font-style: italic;
			font-size: .75*$font-size;
		}

		.map-container {
			background: transparent url(../images/ajax-loader.gif) center no-repeat;
			height: 300px;

			#map-canvas {
				border: 2px solid #000;
				padding: 3px;
				margin: 0;
			}
		}
	}

	#message {
		margin: 20px;
		border: 2px solid black;
		padding: 10px;
		background-color: $buyotic-green;
		height: 100%;
		width: 50%;
		display: inline-block;

		#message-text {
			height: auto;
		}

		.certification {
			width: 100px;
			height: 100px;
		}
	}
}