/* DEMAND MEAT */

#demand-page {

}

#retailer-name {
	width: 200px;
	line-height: 2em;
	font-size: 1.2em;
}

#message {
	margin: 20px;
	border: 2px solid black;
	padding: 10px;
	background-color: $buyotic-green;
	height: 100%;

	#message-text {
		height: auto;
	}

	.certification {
		width: 100px;
		height: 100px;
	}
}





.brand {
	width: auto;
	height: auto;
}

#results {

}