/*global SASS file*/

/*Variables*/
$buyotic-green: rgb(148, 197, 20);
$sans-serif-font: "Futura", "Open Sans", Arial, sans-serif;
$serif-font: "Times New Roman", serif;
$font-size: 13px;




/*CSS*/
body {
   height: 100%;
   margin: 0;
   padding: 0
}


header {
	background-color: $buyotic-green;
	h3 {
		display: inline-block;
		text-align: center;
		color: white;
	}
	#logo {
		height: auto;
		width: auto;
	}
}

nav {
	button {
		a {
			color: white;
		}
			margin: 0 15px 10px 15px;
		background-color: $buyotic-green;
	}
}

section {
    &.centered {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

	.right-column, .middle-column, .left-column {
		display: inline-block;
		margin: 0 15px 0 15px;
		width: 300px;
	}
}

.btn-fb {

}

.bt-twitter {

}