/*SASS file*/

/*Variables*/
$buyotic-green: "";
$buyotic-link-color: $buyotic-green;a {
	color: $buyotic-link-color;
}
$sans-serif-font: "Futura", "Open Sans", Arial, sans-serif;
$serif-font: "Times New Roman", serif;
$font-size: 13px;




/*CSS*/
body {
   height: 100%;
   margin: 0;
   padding: 0
}


header {
	background-color: green;
	h1, h3 {
		display: inline-block;
		text-align: center;
		color: white;
	}
	#logo {
		height: 100px;
		width: 129px;
	}
}

section {
    &.centered {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}

	.right-column, .middle-column, .left-column {
		display: inline-block;
		margin: 0 15px 0 15px;
		width: 300px;
	}
}

.btn-fb {

}

.bt-twitter {

}