

/* FIND MEAT */
.checkbox {
	margin-right: 10px;
}

/* DEMAND MEAT */
#map-canvas {
	display: none;
	border: 2px solid #000;
	height: 100%;
}

#retailer-name {
	width: 200px;
	line-height: 2em;
	font-size: 1.2em;
}

#message-body {
	display: none;
	margin: 20px;
	border: 2px dotted black;
	padding: 10px;
	background-color: rgb(215, 244, 252);
	height: 100%;
}

#message-text {
	height: auto;
}

.certification {
	width: 100px;
	height: 100px;
}

.brand {
	width: auto;
	height: auto;
}

